.editor {
  display: flex;
  flex-direction: column;
  font-family: "Archivo Black", sans-serif;
  align-items: center;
  height: 100vh;
  &__button {
    &--save {
      background-color: #439bd1;
      height: 50px;
      margin-top: 30px;
      width: 320px;
      &:hover {
        background-color: #ffffff;
      }
      &--link {
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          color: #439bd1;
        }
      }
    }
    &--cancel {
      background-color: #ffffff;
      height: 50px;
      margin-top: 30px;
      width: 320px;
      &:hover {
        background-color: #b1b0b0;
      }
      &--link {
        color: #b1b0b0;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          color: #535252;
        }
      }
    }
  }
  & label {
    margin-bottom: 5px;
    font-size: 18px;
  }
  &__date {
    display: flex;
    flex-direction: column;
    &--input {
      padding-left: 10px;
      height: 20px;
      width: 310px;
    }
  }
  &__message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 50px;
    &--input {
      height: 40px;
      padding-left: 10px;
      width: 310px;
    }
  }
  &__mood {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 320px;
    &--inputs {
      display: flex;
      flex-direction: row;
      &--sad {
        margin-left: 80px;
      }
    }
  }
}
